@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*----------------------------Colours*/

body {
    background-color: black;
}

/*----------------------------General*/
/* CSS for mobileHide taken from http://docs.minionmade.com/developer-tools/show-hide-specific-content-on-mobile-devices*/

 @media only screen
   and (min-device-width : 320px)
   and (max-device-width : 480px){  .mobileHide { display: none;}}

/*----------------------------Header*/

.nav {
  background-color: black;
}

.nav-link {
    letter-spacing: 0.3rem;
    font-family: "Raleway", sans-serif;
    color: #fafafa;
}

/*not working for me?*/
.navbar-toggler-icon {
    color: white;
}


.navbar .navbar-brand {
    font-family: "Raleway", sans-serif;;
    font-weight: 400;
    color: rgb(167, 9, 9);
    letter-spacing: 0.2rem;
}

/*----------------------------Footer*/

.footer-container {
    padding: 0;
}

.social-links {
    padding: TBC
}

.social-links li a i {
    color: #fafafa;
    height: 35px;
    width: 35px;
    padding: 20px 40px;
    font-size: 30px;
}

/*----------------------------Hero Image Section*/


.container-fluid {
    width: 100%;
}

.hero-image {
    background: url(../images/joel-wyncott-WYiIkQFclA4-unsplash.jpg) no-repeat fixed center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.card {
    background-color: #fafafa;
}

/*Not working how I'd like yet*/
.card-quote {
    font-family: "Raleway";
    font-weight: 200;
    text-align: right;
}

/*----------------------------Contact Form*/
    
.contact-us h3 {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding: 45px 0px 0px 0px;
    
}

.contact-us h6 {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding: 0px 0px 55px 0px;
}

.contact-button {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    letter-spacing: 0.3rem;
}

@media screen and (min-width: 768px) {
  .contact-form {
    margin: 2% 10% 5% 18%;
  }
}

@media screen and (max-width: 768px) {
  .contact-us h3 {
    padding: 45px 0px 35px 0px;
  }
}
