@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

/*----------------------------Colours*/

body {
    background-color: black;
}

/*----------------------------General*/
/* CSS for mobileHide taken and adapted from http://docs.minionmade.com/developer-tools/show-hide-specific-content-on-mobile-devices*/

 @media screen and (max-width: 770px)
   {  .mobileHide { 
       display: none;
       }
   }

/* Borrowed css finishes from http://docs.minionmade.com/developer-tools/show-hide-specific-content-on-mobile-devices*/

/*----------------------------Header*/

.bg-black {
    background-color: black !important;
}

.nav-link {
    letter-spacing: 0.3rem;
    font-family: "Raleway", sans-serif;
    color: #fafafa;
}

.navbar .navbar-brand {
    font-family: "Raleway", sans-serif;;
    font-weight: 600;
    color: rgb(167, 9, 9);
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand {
    letter-spacing: 0.3rem;
  }
}

/*----------------------------Footer*/

.footer-container {
    margin: 2% auto;
    padding: 0;
}

.social-links li a i {
    color: #fafafa;
    height: 35px;
    width: 35px;
    padding: 20px 40px;
    font-size: 30px;
}

/*----------------------------Hero Image/Customer Quote Section*/


.container-fluid {
    width: 100%;
}

.hero-image {
    background: url(../images/joel-wyncott-WYiIkQFclA4-unsplash.jpg) no-repeat fixed center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -moz-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-box-pack: center;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;

}

.card {
    background-color: #fafafa;
}

.card-quote {
    font-family: "Raleway";
    font-weight: 200;
    text-align: right;
    color: #696969;
}

.quote-contact-btn {
    margin-top: 2%;
    background-color:rgb(167, 9, 9);
    border-color:rgb(167, 9, 9);
}

/*----------------------------About/Wedding Section*/

.card-general {
    font-family: "Raleway", sans-serif;
    background-color: lightgray;
    color: #696969;
    font-weight: 400;
}

.card-title {
    color: rgb(167, 9, 9);
}

@media screen and (min-width: 1025px) {
  .card-general {
    margin: 0 auto;
    width: 50vw;
  }
}

/*----------------------------Contact Form*/

.contact-form {
    margin: 0 auto;
}

.contact-us h3 {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    padding: 45px 0px 0px 0px;
}

.contact-us h6 {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    letter-spacing: 0.3rem;
    padding: 0px 0px 55px 0px;
}

.contact-button {
    font-family: "Raleway", sans-serif;
    color: #fafafa;
    letter-spacing: 0.3rem;
    background-color:rgb(167, 9, 9) !important;
    border-color:rgb(167, 9, 9)!important;
}

@media screen and (min-width: 768px) {
  .contact-form {
    margin: 2% 10% 5% 18%;
  }
}

@media screen and (max-width: 765px) {
  .contact-us h3 {
    padding: 70px 0px 35px 0px;
  }
}

